@import "elements.less";

body {
  padding-bottom: 40px;
  background-attachment:fixed;
  font-size:13px;
  min-width: 320px;
}
ul {padding-left:0px;}

input,
textarea,
select {
  display: inline-block;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  .border-radius(3px, 3px, 3px, 3px);
}

p{ font-size:14px;}

select {
	height: 28px;
	line-height: 28px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: bold;}
h1, h2, h3 {margin-top:10px;}

a{ outline:none;}
a:hover{.transition-duration(0.2s);}
.mb0{margin-bottom:0px !important}
.mb10{margin-bottom:10px !important}
.mr20{ margin-right:20px;}
.mr10{ margin-right:10px;}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml_big{margin-left:5% !important}
.mb10{margin-bottom:10px !important}
.mb20{margin-bottom:20px !important}
.mr15{ margin-right:15px !important}
.mr30{ margin-right:30px !important}
.mr5{ margin-right:5px !important}
.m0{ margin-top:0px !important;}
.m5{ margin-top:5px !important;}
.m10{ margin-top:10px !important;}
.m15{ margin-top:15px !important;}
.m20{ margin-top:20px !important;}
.m25{ margin-top:25px !important;}
.m30{ margin-top:30px !important;}
.m40{ margin-top:40px !important;}
.mb0{ margin-bottom:0px !important;}
.pl0{ padding-left:0px !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.width_button{ min-width:100px;}
.fr{ float:right !important}
.fl{float:left !important}
.bold{ font-weight:bold !important}
.tdu{ text-decoration:underline !important}
.btn{ outline:none !important}
.justify {text-align: justify;}
.rm_block_display {display: inline !important;}
.center_align{ margin:auto;}
.big_text {height: 40px; width: 250px; font-size:16px;}

.navbar {margin-bottom: 0px;}

#main{  
  article{ padding:0px 0px 0px;background:#fafafa;.drop-shadow(0, 3px, 5px, 0.2); min-height:800px; }
}

div.padit{ padding:15px 25px;}

.footer{ 
  color:#fafafa; background:#333;
  p{padding:10px 30px 10px 0; margin-right:30px; line-height:25px}
}

.alert{ font-size:14px; text-align:center;}

.errorSummary{text-align:left !important;
p {line-height:25px !important; margin:0 0 5px 0 !important; font-size:18px !important; font-weight:bold; }

ul{ margin-bottom:0px; margin-left: 15px; font-size:15px !important; li{ margin:3px 0;}} }
form {.alert{ margin:0 0 15px !important;}}